---
import Layout from "../layouts/Layout.astro";
---

<Layout title="New Scholarship - UASAMS">
    <div class="form_container">
        <div id="failedbanner"></div>
        <form action="" id="newscholarship">
            <div class="form_line">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="form_line">
                <label for="description">Description</label>
                <textarea name="description" id="description"></textarea>
            </div>
            <div class="form_line">
                <label for="deadline">Deadline</label>
                <input type="datetime-local" name="deadline" id="deadline" />
            </div>
            <div class="form_line">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</Layout>

<script>
    import PocketBase from "pocketbase";

    const db = new PocketBase("http://localhost:7001");

    if (!db.authStore.isValid) {
        window.location.replace("/login?redirect=/newscholarship");
    }

    const form = document.getElementById("newscholarship") as HTMLFormElement;

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(form);

        const deadline = formData.get("deadline");

        if (!deadline) {
            return;
        }

        const data = {
            name: formData.get("name"),
            description: formData.get("description"),
            deadline: new Date(deadline.toString())
                .toJSON()
                .split("T")
                .join(" "),
            owner: db.authStore.model?.id,
            match_criteria: {},
        };

        console.log(data);

        db.collection("scholarships")
            .create(data)
            .then((resp) => {
                window.location.href = `/view?id=${resp.id}`;
            })
            .catch((err) => {
                const failedbanner = document.getElementById(
                    "failedbanner",
                ) as HTMLDivElement;

                failedbanner.innerText = err.message;
            });
    });
</script>

<style>
    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        width: 100%;
    }

    .form_line {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    textarea {
        resize: vertical;
        height: 10rem;
    }
</style>
