---
import ShortScholarship from "../components/ShortScholarship.astro";
import ShortScholarshipList from "../components/ShortScholarshipList.astro";
import Layout from "../layouts/Layout.astro";

let response = await fetch(
    "http://localhost:7002/api/v1/match?userid=1&top=50",
);

let data = await response.json();
---

<Layout title="Top for me - UASAMS">
    <h1>Top for me</h1>
    <ShortScholarshipList items={data.items} />
</Layout>
