<div>
    <form method="get">
        <div>
            <label for="av">Availability</label>
            <select id="filter_bar_av" name="av">
                <option value="all">All</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <div>
            <label for="q" hidden="true">Search Query</label>
            <input
                type="text"
                placeholder="Search"
                id="filter_bar_q"
                name="q"
            />
        </div>
        <input type="submit" value="Update" />
    </form>
</div>

<script>
    const params = new URLSearchParams(window.location.search);

    var filter_bar_av = document.getElementById("filter_bar_av");
    if (filter_bar_av != null) {
        const av = params.get("av");
        if (av != null) {
            (filter_bar_av as HTMLSelectElement).value = av;
        }
    }

    var filter_bar_q = document.getElementById("filter_bar_q");
    if (filter_bar_q != null) {
        const q = params.get("q");
        if (q != null) {
            (filter_bar_q as HTMLInputElement).value = q;
        }
    }
</script>
