---

---

<div class="nav-container">
    <div class="nav-list">
        <a href="/">Home</a>
        <a href="/viewall">All</a>
        <a href="/topforme">Top</a>
        <a href="/newscholarship">Create</a>
    </div>
</div>

<style lang="scss">
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        padding: 0.5rem;

        a {
            color: #fff;
            text-decoration: none;

            margin: 0.5rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.5rem;

        width: 100%;

        background-color: #0f385e;
    }
</style>
