---
import Seperator from "./Seperator.astro";
import ShortScholarship from "./ShortScholarship.astro";

export interface Props {
    items: any[];
}

const { items } = Astro.props;
---

<div class="scholarships_container">
    <div class="scholarships">
        <Seperator />
        {
            items.map((v: any) => (
                <>
                    <ShortScholarship
                        name={v.name}
                        description={v.description}
                        deadline={v.deadline}
                    />
                    <Seperator />
                </>
            ))
        }
    </div>
</div>

<style lang="scss">
    .scholarships_container {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding: 1rem;
    }

    .scholarships {
        display: flex;

        justify-content: center;
        align-items: center;

        flex-direction: column;

        width: 100%;
        max-width: 40rem;
    }
</style>
